.card {
  margin-left: 20px !important;
  margin-top: 10px !important;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.card img {
  border-radius: 10px 10px 0px 0px;
}
.img-style {
  height: 100px !important;
  width: 200px;
}

.title {
  font-size: 20px;
}
